# Flutter / Dart ignores
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
ios/.generated/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# Android ignores
android/.gradle/
android/local.properties
android/key.properties

# macOS / Windows ignores
.DS_Store
Thumbs.db

# VS Code / Editor ignores
.vscode/

# Logs & temp files
*.log
*.tmp